link href='style.css' rel='stylesheet'
title
  | Isometric Grid by Darryl Abbate

.container
  .card
    object type='image/svg+xml' data='svg/file.svg'
    .cardcontent
      object type='image/svg+xml' data='svg/code.svg'
  .card
    object type='image/svg+xml' data='svg/file.svg'
    .cardcontent
      object type='image/svg+xml' data='svg/darryl-box.svg'
  .card
    object type='image/svg+xml' data='svg/file.svg'
    .cardcontent
      object type='image/svg+xml' data='svg/code.svg'
  .card
    object type='image/svg+xml' data='svg/file.svg'
    .cardcontent
      object type='image/svg+xml' data='svg/code.svg'
  .card
    object type='image/svg+xml' data='svg/file-ai.svg'
    .cardcontent 
      .ai
        | Ai
  .card
    object type='image/svg+xml' data='svg/file.svg'
    .cardcontent
      object type='image/svg+xml' data='svg/darryl-box.svg'
  .card
    object type='image/svg+xml' data='svg/file-dn.svg'
    .cardcontent
      .dn
        | Dn
  .card
    object type='image/svg+xml' data='svg/file.svg'
    .cardcontent
      object type='image/svg+xml' data='svg/code.svg'
  .card
    object type='image/svg+xml' data='svg/file.svg'
    .cardcontent
      object type='image/svg+xml' data='svg/code.svg'
  .card
    object type='image/svg+xml' data='svg/file.svg'
    .cardcontent
      object type='image/svg+xml' data='svg/darryl-box.svg'
  .card
    object type='image/svg+xml' data='svg/file.svg'
    .cardcontent
      object type='image/svg+xml' data='svg/darryl-box.svg'
  .card
    object type='image/svg+xml' data='svg/file-ps.svg'
    .cardcontent
      .ps
        | Ps
  .card
    object type='image/svg+xml' data='svg/file-xd.svg'
    .cardcontent
      .xd
        | Xd
  .card
    object type='image/svg+xml' data='svg/file.svg'
    .cardcontent
      object type='image/svg+xml' data='svg/code.svg'
  .card
    object type='image/svg+xml' data='svg/file.svg'
    .cardcontent
      object type='image/svg+xml' data='svg/code.svg'
  .card
    object type ='image/svg+xml' data='svg/file-ai.svg'
    .cardcontent 
      .ai
        | Ai
  .card
    object type='image/svg+xml' data='svg/file.svg'
    .cardcontent
      object type='image/svg+xml' data='svg/code.svg'
  .card
    object type='image/svg+xml' data='svg/file.svg'
    .cardcontent
      object type='image/svg+xml' data='svg/darryl-box.svg'
  .card
    object type='image/svg+xml' data='svg/file.svg'
    .cardcontent
      object type='image/svg+xml' data='svg/code.svg'
  .card
    object type='image/svg+xml' data='svg/file.svg'
    .cardcontent
      object type='image/svg+xml' data='svg/code.svg'
  .card
    object type ='image/svg+xml' data='svg/file-ai.svg'
    .cardcontent 
      .ai
        | Ai
  .card
    object type='image/svg+xml' data='svg/file.svg'
    .cardcontent
      object type='image/svg+xml' data='svg/darryl-box.svg'
  .card
    object type='image/svg+xml' data='svg/file-dn.svg'
    .cardcontent
      .dn
        | Dn
  .card
    object type='image/svg+xml' data='svg/file.svg'
    .cardcontent
      object type='image/svg+xml' data='svg/code.svg'
  .card
    object type='image/svg+xml' data='svg/file.svg'
    .cardcontent
      object type='image/svg+xml' data='svg/code.svg'
  .card
    object type='image/svg+xml' data='svg/file.svg'
    .cardcontent
      object type='image/svg+xml' data='svg/darryl-box.svg'
  .card
    object type='image/svg+xml' data='svg/file.svg'
    .cardcontent
      object type='image/svg+xml' data='svg/darryl-box.svg'
  .card
    object type='image/svg+xml' data='svg/file-ps.svg'
    .cardcontent
      .ps
        | Ps
  .card
    object type='image/svg+xml' data='svg/file-xd.svg'
    .cardcontent
      .xd
        | Xd
  .card
    object type='image/svg+xml' data='svg/file.svg'
    .cardcontent
      object type='image/svg+xml' data='svg/code.svg'
  .card
    object type='image/svg+xml' data='svg/file.svg'
    .cardcontent
      object type='image/svg+xml' data='svg/code.svg'
  .card
    object type ='image/svg+xml' data='svg/file-ai.svg'
    .cardcontent 
      .ai
        | Ai
